@font-face {
  font-family: "digital";
  src: url("../fonts/digital.ttf");
}
.btn {
  width: 33.3333%;
  font-size: 2rem;
}

.btn:hover {
  cursor: pointer;
  background-color: #a047a0;
  color: white;
  border-radius: 0.5rem;
  scale: 1.05;
}

#calcBtn {
  width: 30% !important;
  display: flex;
  flex-wrap: wrap;
}

.last,
#display {
  width: 100% !important;
}

#display {
  width: 100% !important;
  background-color: rgb(209, 204, 204);
  height: 100px;
  margin: 0.5rem 0;
  border-radius: 10px 10px 0 0;
  padding: 0.5rem;
  font-family: "digital" !important;
}

#groceryApp {
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: wrap;
  justify-content: center;
  height: 80vh !important;
  align-items: center;
}
